.calendar {
  width: 350px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar__head.\--controls:after {
  content: "";
  display: table;
  clear: both;
}
.calendar__prev-btn {
  width: 14.28571429%;
  color: #666666;
  text-align: center;
  float: left;
  cursor: pointer;
}
.calendar__prev-btn:before {
  font-family: FontAwesome;
  content: "\f0d9";
}
.calendar__next-btn {
  width: 14.28571429%;
  color: #666666;
  text-align: center;
  float: left;
  cursor: pointer;
}
.calendar__next-btn:before {
  font-family: FontAwesome;
  content: "\f0da";
}
.calendar__date-display {
  color: #38dff2;
  width: 71.42857143%;
  text-align: center;
  float: left;
}
.calendar__body:after {
  content: "";
  display: table;
  clear: both;
}
.calendar__cell {
  width: 14.28571429%;
  height: 50px;
  color: #666666;
  border-right: 1px solid #f7f7f7;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar__cell:last-of-type {
  border: none;
}
.calendar__cell:hover {
  background: #fe386e;
  color: #ffffff;
}
.calendar__cell.\--day {
  color: #cccccc;
  cursor: auto;
}
.calendar__cell.\--day:hover {
  background: inherit;
  color: #cccccc;
}
.calendar__cell.\--disabled {
  color: #f7f7f7;
}
.calendar__cell.\--disabled:hover {
  color: #ffffff;
}
.calendar__cell.\--today {
  color: #38dff2;
}
.calendar__cell.\--today:hover {
  color: #ffffff;
}
.calendar__cell.\--selected {
  color: #ffffff;
  background: #38dff2;
}
.calendar__cell.\--selected:hover {
  background: #fe386e;
}
