@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,900,200,500,300,600,700,800);

* {
  font-family: 'Raleway';
}

.calendar {
  width: 350px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar__head.\--controls:after {
  content: "";
  display: table;
  clear: both;
}
.calendar__prev-btn {
  width: 14.28571429%;
  height: 50px;
  line-height: 50px;
  color: #666666;
  text-align: center;
  float: left;
  cursor: pointer;
}
.calendar__prev-btn:before {
  font-family: FontAwesome;
  content: "\f0d9";
}
.calendar__next-btn {
  width: 14.28571429%;
  height: 50px;
  line-height: 50px;
  color: #666666;
  text-align: center;
  float: left;
  cursor: pointer;
}
.calendar__next-btn:before {
  font-family: FontAwesome;
  content: "\f0da";
}
.calendar__date-display {
  width: 71.42857143%;
  height: 50px;
  line-height: 50px;
  color: #000;
  text-align: center;
  float: left;
}
.calendar__body:after {
  content: "";
  display: table;
  clear: both;
}
.calendar__cell {
  width: 14.28571429%;
  height: 50px;
  line-height: 50px;
  color: #666666;
  border-right: 1px solid #f7f7f7;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar__cell:last-of-type {
  border: none;
}
.calendar__cell:hover {
  background: #666;
  color: #ffffff;
}
.calendar__cell.\--day {
  color: #cccccc;
  cursor: auto;
}
.calendar__cell.\--day:hover {
  background: inherit;
  color: #cccccc;
}
.calendar__cell.\--prev-month,
.calendar__cell.\--next-month {
  color: #eeeeee;
}
.calendar__cell.\--prev-month:hover,
.calendar__cell.\--next-month:hover {
  color: #ffffff;
}
.calendar__cell.yesterday {
  border-bottom: 4px solid #1A5A7E;
}
.calendar__cell.today {
  border-bottom: 4px solid #C7CC0C;
}
.calendar__cell.tomorrow {
  border-bottom: 4px solid #7B1F71;
}
